<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>quiz.servlets.GameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>quiz.servlets.ReplyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/reply</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>